# Git
.git
.gitignore
.gitattributes

# Virtual Environment
.venv
venv
env

# Python caches
__pycache__
*.pyc
.mypy_cache
.pytest_cache

# Environment files
.env
.env.docker

# Ruff cache
.ruff_cache

# VSCode
.vscode/

# Tests and Coverage
tests/
*/tests/
**/tests/
pytest.ini
conftest.py
**/conftest.py
.coverage
htmlcov/
.coverage.*
coverage.xml
**/*_test.py
**/test_*.py

# Build and development
*.egg-info
dist/
build/
.tox/

# Documentation and CI
docs/
.github/
.pre-commit-config.yaml

# Logs and temporary files
logs/
*.log
*.tmp
