services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - INSTALL_DEV=true
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app/
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - INSTALL_DEV=true
    command: watchmedo auto-restart --directory=./src --pattern=*.py --recursive -- celery -A petcare worker -l info
    volumes:
      - .:/usr/src/app/
    env_file:
      - .env
    depends_on:
      - web
      - redis

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - INSTALL_DEV=true
    command: celery -A petcare beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - .:/usr/src/app/
    env_file:
      - .env
    depends_on:
      - web
      - redis

volumes:
  postgres_data:
