django
psycopg2-binary
python-decouple
dj-database-url
ruff
pre-commit
Pillow
pytest
pytest-django
pytest-cov
factory-boy
djangorestframework
dj-rest-auth
djangorestframework-simplejwt
django-allauth
requests
celery
redis
pytest-mock
django-celery-beat
drf-spectacular
mypy
django-stubs
