django
psycopg2-binary
python-decouple
dj-database-url
Pillow
djangorestframework
dj-rest-auth
djangorestframework-simplejwt
django-allauth
requests
celery
redis
django-celery-beat
drf-spectacular
whitenoise[brotli]
structlog
gunicorn
factory-boy
Faker
